.accord-title {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.accord-title h3 {
  margin: 0.2rem 1rem 0.3rem 0rem;
}
.accord {
  width: 85%;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.accord-title:hover {
  text-decoration: underline;
}

.accord-detail {
  animation: entrance 0.3s ease-in;
}

@keyframes entrance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.flip {
  transform: rotate(180deg);
  transform-origin: center;
}
