.highlight-section svg{
    width: 8rem;
    fill: var(--text-high);
    margin-right: 1rem;
}
.highlight-section {
    display: flex;
    flex-direction: column;
}

.highlight-header {
    display: flex;
    align-items:center;
}

.header-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 0.8rem;
}
.header-description a {
    text-decoration: none;
}
.header-description a:hover {
    text-decoration: underline;
    text-decoration-color: var(--text-high);
    
}
.header-description h2 {
    margin: 0;
}

.header-description p {
    margin: 0.8rem 0;
}